version: '3.8'
services:
  proxy:
    build: ../proxy
    image: adrianfish/dialang-proxy
    depends_on:
      web:
        condition: service_started
      content:
        condition: service_started
    ports:
      - "80:80"
    restart: unless-stopped
  content:
    build: ../content
    image: adrianfish/dialang-content
    restart: unless-stopped
    volumes:
      - type: bind
        source: ../content/generated-content
        target: /usr/share/nginx/html/content
  web:
    build: ../web
    env_file:
      - .env
    image: adrianfish/dialang-web
    depends_on:
      database:
        condition: service_started
    restart: unless-stopped
  datacapture:
    build: ../datacapture
    image: adrianfish/dialang-datacapture
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: dialang-data-capture
      POSTGRES_HOST_AUTH_METHOD: md5
    restart: unless-stopped
