version: '3.8'
services:
  proxy:
    build: ../proxy
    image: adrianfish/dialang-proxy
    depends_on:
      web:
        condition: service_started
      content:
        condition: service_started
    ports:
      - "80:80"
    restart: unless-stopped
  content:
    build: ../content
    image: adrianfish/dialang-content
    restart: unless-stopped
    volumes:
      - "../content/generated-content:/usr/share/nginx/html/content"
  web:
    build: ../web
    image: adrianfish/dialang-web
    env_file:
      - ./.env
    depends_on:
      datacapture:
        condition: service_started
    restart: unless-stopped
  datacapture:
    build: ../datacapture
    image: adrianfish/dialang-datacapture
    env_file:
      - ./.env
    volumes:
      - db-data:/var/lib/postgresql
    restart: unless-stopped
volumes:
  db-data:
